* {
    margin: 0px;
    background-color: lavenderblush;
    font-family: 'Zen Loop', cursive;
}
.landing {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.landing-left,
.landing-right {
    display: flex;
}
.landing-right {
    flex-flow: column wrap;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 5rem;    */
    align-items: center;
}
.hero {
    max-width: 100vw;
    max-height: 100vh;
}

.welcome {
    color: #F17793;
    font-size: 5rem;
    font-weight: bold;
    text-shadow: 5px 5px #6F679D;
}
.account {
    /* font-size: 3rem; */
    text-align: center;
    margin-top: 2rem;
}

a {
    text-decoration: none;
    color: #F17793;
}

a:hover {
    color: #6F679D;
}
.form {
    margin-top: 2rem;
    padding-bottom: 2rem;
    width: 90%;
}

input {
    border: 2px solid #F17793;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    /* box-sizing: border-box; */
    border-radius: 5px;
    color: rgb(79, 79, 79);
    font-size: larger;
    font-weight: 900;
    outline: none;
}

input:focus {
    box-shadow: 5px 5px 5px #6F679D;
}

.login {
    color: #F17793;
    font-weight: 900;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login:hover {
    background-color: #F2DCE6;
    cursor: pointer;
}