* {
    margin: 0px;
    background-color: lavenderblush;
    font-family: 'Zen Loop', cursive;
}
.landing-left,
.landing-right {
    display: flex;
}
.hero {
    height: 100vh;
    width: 40%;
    display: block;
}
.landing-right {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}

.welcome {
    color: #F17793;
    font-size: 72px;
    font-weight: bold;
    text-shadow: 5px 5px #6F679D;
}